body{
	text-align: center;
	margin:0 10% 10% 10%;
}
nav a{
	text-decoration: none;
	color:white;
	margin:2%;
}
a{
	text-decoration: none;
	color:orange;
}
a:hover{
	color:orange;
}
.navBar{
	background-color:#33401c;
	font-size:20px;
	padding: 1%;
	text-align: right;
}
.flexBox{
	display:flex;
	text-align: center;
	margin-top:3%;
	flex-wrap: wrap;
}
.reglogChild{
	flex:1;
	border-style: solid;
	border-color: black;
	padding:2%;
}
input{
	padding:1%;
	margin:1%;
}
.buttons{
	background-color:#33401c;
	color:white;
	padding:1.5%;
	border:none;
}
.boxChild{
	flex:1;
}
.boxChild> input{
	margin-top:1%;
}
.boxChild{
	flex:1;
}
.boxChild2{
	width:20%;
}
@media only screen and (max-width:1050px){
	body{
		margin:0;
	}
}
@media only screen and (max-width:950px){
	.boxChild2{
		width:25%;
	}
}
@media only screen and (max-width:800px){
	.boxChild2{
		width:33%;
	}
}
@media only screen and (max-width:550px){
	.boxChild2{
		width:50%;
	}
}
@media only screen and (max-width:350px){
	.boxChild2{
		width:100%;
	}
}